# Environment
.env
.env.*
*.env
!.env.example

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.metro-cache/
.metro-health-check*

# Native build outputs
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# EAS local caches
.eas/

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
*.pem

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

app-example
